.boton__login{
    width: 10vw;
    height: 2.5vw;
    color: $color-grey;
    font-family: $font1;
    background-color: $color-white;
    border-color: #A2A2A2;
    border: 1px solid;
}
.boton__Register{
    width: 10vw;
    height: 2.5vw;
    background-color: #4CA866;
    font-family: $font1;
    color: $color-white;
    border: none;
}