.boton__login {
  width: 10vw;
  height: 2.5vw;
  color: #989797;
  font-family: "PT Mono";
  background-color: #ffffff;
  border-color: #A2A2A2;
  border: 1px solid;
}

.boton__Register {
  width: 10vw;
  height: 2.5vw;
  background-color: #4CA866;
  font-family: "PT Mono";
  color: #ffffff;
  border: none;
}

/*nav*/
.box {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 15px;
  padding-left: 60px;
}

.box1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.box2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 80px;
  gap: 20px;
}

/*nav*/
/*main*/
/*primera part*/
.container1 {
  position: relative;
}

.box__imgText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 20vw;
}

.box__number {
  display: flex;
  justify-content: center;
  gap: 10px;
  background-color: #ffffff;
  margin-left: 30vw;
  width: 36%;
  height: 11vw;
  position: absolute;
  bottom: 0;
  left: 0;
}

.box__info {
  padding: 10px 20px;
}

.box__colors {
  display: flex;
  justify-content: center;
}

.box__yellow {
  background-color: #eacb31;
  width: 150px;
  height: 150px;
  position: absolute;
  z-index: 1;
  margin-left: 70px;
}

.box__orange {
  background-color: #e4572e;
  width: 150px;
  height: 150px;
  position: absolute;
  z-index: 2;
  margin-left: 40px;
  bottom: 40px;
}

/*container1*/
/*container2*/
/*segunda part*/
.container2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 20px;
}

.box3__textInfo {
  margin-left: 5vw;
  margin-top: 4vw;
  padding-right: 80px;
}

.box__sky {
  width: 90vw;
  height: 15vw;
  background-color: #3c91e6;
}

/*container2*/
/*nav*/
.img1 {
  width: 3vw;
  height: 4vw;
}

/*main*/
/*container1*/
.box__imgText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 20vw;
}

.box__img {
  width: 65vw;
  height: 38vw;
}

.img__arrow {
  width: 60px;
  height: 60px;
  margin-top: 45px;
  margin-left: 45px;
}

/*container1*/
/*container2*/
.img__maps {
  width: 460px;
  height: 220px;
  margin-top: 20px;
  position: relative;
  z-index: 2;
}

.img__coffe {
  width: 100px;
  height: 180px;
  position: absolute;
  z-index: 2;
  margin-left: 25px;
}

.img__expresso {
  position: absolute;
  z-index: 1;
  width: 200px;
  height: 250px;
  margin-left: 50px;
}

/*container2*/
/*main*/
/*container1*/
.box__title {
  margin-top: 40px;
  font-size: 68px;
  font-family: "PT Mono";
  margin-left: 10vw;
}

.box__subtitle {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  margin-left: 10vw;
}

.number {
  font-family: "Roboto", sans-serif;
  font-size: 40px;
}

.text__number {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  padding-right: 20%;
}

/*container1*/
/*container2*/
.box3__subtitle2 {
  font-family: "PT Mono";
  font-weight: 400;
  font-size: 40px;
}

.box3__paragraph {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  margin-top: 20px;
}

/*container2*/
/* nota mental: empezar desde afuera el que lo contiene todo y luego empezar separando los elementos chicos, si veo algo desordenado ordenarlo, para flex */

/*# sourceMappingURL=style.css.map */
