/*main*/
/*container1*/

.box__title{
    margin-top: 40px;
    font-size: 68px;
    font-family: $font1;
    margin-left: 10vw;
}
.box__subtitle{
    font-size: 25px;
    font-family: $font2;
    margin-left: 10vw;
}
.number{
    font-family: $font2;
    font-size: 40px;
}

.text__number{
    font-family: $font2;
    font-size: 18px;
    padding-right: 20%;
}
/*container1*/

/*container2*/
.box3__subtitle2{
    font-family: $font1;
    font-weight: 400;
    font-size: 40px;
}
.box3__paragraph{
    font-family: $font2;
    font-size: 18px;
    margin-top: 20px;
}
/*container2*/